.container {
	margin: 80px auto;
	width: 1002px;
	height: auto;
	border: 1px solid #000;	
	border-radius: 10px;
	padding: 10px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}
	/* ------ Header Start ------ */
	.container .header {
		font: normal small-caps 200 20px/30px Arial, Helvetica, sans-serif;
		text-align: center;
		letter-spacing: 9px;
		word-spacing: 4px;
		font-weight: 500;
		font-family: 'Josefin Slab', serif;
		height: 80px;
		justify-content: center;
		display: flex;
		font-size: 33px;
		padding-top: 10px;
		color: lightseagreen;
	}
	/* ------ Header End ------ */

	/* ------ Main Start ------ */
	.container .main {
		height: auto;
	}

		.container .main .box {
			display: grid;
			grid-template-columns: 30% 70%;
			margin-top: 8px;
		}

		.container .main .boxa {
			display: grid;
			grid-template-columns: 42% 58%;
			margin-top: 20px;
		}

		.container .main .box1 {
			width: 535px;
			height: 45px;
			border: 1px solid rgb(71, 178, 221);
			margin-left: 10px;
		}

		.container .main .commission {
			height: auto;
			margin-left: 10px;
		}

		.container .main .form-input {
			margin: 0px;
			color: black;
			height: 830px;
		}

		.container .main .btn {
			width: 155px;
		}

		.container .main a {
			color: white;
		}

			.container .main a:hover {
				text-decoration: none;
				color: white;
			}

		.container .main .view {
			color: gray;
			margin: 5px 0px 0px 20px;
			width: 250px;
			border: 1px #d5d5d5 solid;
			border-radius: 4px;
			padding: 4px 3px;
			font-family: "Open Sans", arial !important;
			box-shadow: 0 1px 1px rgba(50,50,50,0.1);
			font-size: 15px;
			color: #444;
		}
		#AccountNumber{
			width:200px;
		}

		.container .main .title-tables {
			display: flex;
			margin: 5px 0px 3px 5px;
			font: normal small-caps 200 20px/30px Arial, Helvetica, sans-serif;
		}

			.row.info {
				height: auto;
				margin: 10px;
			}

			.row .r1 {
				border-radius: 10px;
				margin: 5px 10px 5px 0px;
				height: auto;
				width: 530px;
			}

			.row .r2 {
				text-align: left;
				border-radius: 10px;
				margin: 5px 0px 5px 10px;
				width: 535px;
				height: auto;
			}
			/* Khoảng cách của tất cả các lable   */
			.allable {
				margin: 15px;
			}

			.container .main .btn-nut {
				text-align: center;
				margin: 30px;
			}

			#custom {
				width: 60px;
				margin-left: 5px;
			}

			#checkboxuser {
				margin: 5px 5px 5px 5px;
			}
			#IsChecked {
				margin: 5px 5px 5px 20px;
			}
			select#DropDownListUser {
				width: 15%;
				margin-left: 5px;
			}

			#radio {
				margin: 5px 20px 5px 25px;
			}
			#Commission {
				margin: 4px 25px 0px 20px;
			}

			.selectws {
				width: 100px;
			}

			i{
				font-family: 'Josefin Slab', serif;
				color: lightseagreen;
				margin-left: 8px;
			}
			label.row.allable.text1 {
				margin-left: 15px;
			}
			.boxtextname {
				margin-left: 15px;
				grid-template-columns: 30% 70%;
				margin-top: 8px;
			}
			select {
				width: 75px;
			}
/* ------ Main End ------ */
/* ------ Footer Start ------ */
.container .footer {
}
/* ------ Footer End ------ */