@model String

@Html.TextBoxFor(m => m, new { required = true })
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
</head>
<body>
	<div>

	</div>
</body>
</html>
